{% block content %}
    <table class="WoHeader">
        <caption>Request</caption>
        <thead>
            <tr>
                <th scope="col">Item</th>
                <th scope="col">Description</th>
            </tr>    
        </thead>
        <tbody>
            <tr>
                <th scope="row">WO Number</th>
                <td>{{ work_order.wo_number }}</td>
            </tr>
            <tr>
                <th scope="row">Originator</th>
                <td>{{ work_order.originator }}</td>
            </tr>
            <tr>
                <th scope="row">Tagnumber</th>
                <td>{{ work_order.tagnumber }}</td>
            </tr>
            <tr>
                <th scope="row">Problem</th>
                <td>{{ work_order.problem }}</td>
            </tr>
            <tr>
                <th scope="row">Date - Open</th>
                <td>{{ work_order.date_open }}</td>
            </tr>
            <tr>
                <th scope="row">Status</th>
                <td>{{ work_order.status.name }}</td>
            </tr>
        </tbody>
    </table> 

{% endblock %}
