{% extends "base_accounts.html" %}

{% block title %}
    Account list
{% endblock %}

{% block body %}
  <div class="container-fluid">
    <div class="row">
        <!---Left side of page, occupay 2 of 12 coulumn-->
        <div class="col-sm-2">
            <!--Severals link-->
            {% block leftSidebar %}
                <p><a href="{% url 'accounts:signup'%}">Create</a></p>   
            {% endblock leftSidebar %}
        </div>
        <!---middle side of page, occupay 10 of 12 coulumn-->
        <div class="col-sm-10">
            {% block content %}
              <h3>Account List</h3>
              {% if cmmsuser_list %}
              <ul>
                {% for cmmsuser in cmmsuser_list %}
                  <li>
                    <a href="{{ cmmsuser.get_absolute_url }}">{{ cmmsuser.username }}</a>
                  </li>
                {% endfor %}
              </ul>
              {% else %}
                <p>There are no account</p>
              {% endif %}

            {% endblock content %}
        </div>
    </div>    
  </div>
{% endblock body %}


