<!-- templates/work_order/home.html -->
{% extends "base_work_order.html" %}

{% block title %}
    Work Order Home
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <!---Left side of page, occupay 2 of 12 coulumn-->
            <div class="col-sm-2">
                {% block leftSidebar %}
                    <div>
                        <h3>Work Order System</h3>
                        <p>The work order need concerning:</p>
                        <ul>
                          {%if woNwoOnConcernumber%}
                              <li><a href="{% url 'work_order:work_orders'%}"><strong>Work Order :</strong> {{ woNwoOnConcernumber }}</a></li>   
                          {% else %}
                              <li><strong>Work Order :</strong> {{ woNwoOnConcernumber }}</li>   
                          {% endif %} 
                          {% if perms.work_order.add_work_order %}       
                              <li><a href="{% url 'work_order:work_order-create' %}">Create Work Order</a></li>
                          {% endif %}
                      </ul>
                    </div>
                {% endblock leftSidebar %}
            </div>
            <!---middle side of page, occupay 8 of 12 coulumn-->
            <div class="col-sm-8">
                {% block content %}
                    {% include 'help/includes/workOrderDescription.html' %}
                <!---Right side of page, occupay 2 of 12 coulumn-->
                {% endblock content %}
            </div>
            <div class="col-sm-2">
                {% block rightSidebar %}
                    {% include 'help/includes/workOrderFeature.html' %}
                {% endblock rightSidebar %}
            </div>
        </div>    
    </div>
{% endblock body %}
