{% extends "base_work_order.html" %}

{% block title %}
    Work order list
{% endblock %}

{% block content %}
  <h3>Work Order List</h3>
  {% if user_work_order_list %}
  <ul>
    {% for work_order in user_work_order_list %}
      <li>
        <a href="{{ work_order.get_absolute_url }}">{{ work_order.wo_number }}</a> ({{work_order.tagnumber}})
      </li>
    {% endfor %}
  </ul>
  {% else %}
    <p>There are no work order</p>
  {% endif %}

  <div>
    <form action="" method="get">
      {{ form.as_p }}
    </form>                      
  </div>

  <!--Severals link-->
      {% if perms.work_order.add_work_order %}       
        <a href="{% url 'work_order:work_order-create' %}">Create Work Order</a>
      {% endif %}
      {% if allowSummary %}       
          <a href="{% url 'work_order:work_order-summary' %}">Summary Work Order</a>
      {% endif %}
{% endblock %}