{% extends "base_cmms.html" %}

{% block title %}
    <title>cmms utility</title>
{% endblock %}
{% block content %}
  <!--get from help-->
  {% include 'help_equipment.html' %}

    <div class="column middle">
        <h2>Utility Modules</h2>
        <p>
            Penanganan setup organisasi, user serta keterkaitanya dengan system CMMS
        </p>
        <ul>
            <li><a href="{% url 'admin:index'%}">Admin Index</a></li>   
            <li><a href="{% url 'admin:accounts_department_add'%}">Registrasi Department</a></li>   
            <li><a href="{% url 'admin:accounts_section_add'%}">Registrasi Section</a></li>   
            <li><a href="{% url 'admin:accounts_action_add'%}">Registrasi Work Order Status</a></li>   
            <li><a href="{% url 'utility:config-import'%}">Configuration from File</a></li>   
        </ul>
    </div>
{% endblock %}
