

{% extends "base_cmms.html" %}

{% block title %}
    <title>cmms User Profile</title>
{% endblock %}
{% block content %}
  <form method="post">
    {% csrf_token %}
    <table class="WoForm">
      <caption>User Profile Setup</caption>
      <thead>
        <tr>
          <th scope="col">Item</th>
          <th scope="col">Data</th>
        </tr>
      </thead>
        {{ user_form.as_table }}
        {{ profile_form.as_table }}
    </table>  
    <button type="submit">Save changes</button>
  </form> 
{% endblock %}
